# Core stack variables
HOSTNAME=homelab
DOMAIN=lab.local
TZ=Europe/Moscow

# Traefik
ACME_EMAIL=sre@lab.local

# WireGuard
WG_SERVER_IP=10.13.13.1/24
WG_PORT=51820

# Syncthing
ST_UID=1000
ST_GID=1000
